snippet section
------------------------------------
         $1
------------------------------------
endsnippet

snippet todo
☐ 
endsnippet

snippet done
☑
endsnippet

snippet matrix
                |    FF   |   Chrome   |    Safari   |     IE11   |
                |--------------------------------------------------
$1                |         |            |             |            |
                |--------------------------------------------------
$2                |         |            |             |            |
                |--------------------------------------------------
$3                |         |            |             |            |
                |--------------------------------------------------
endsnippet
