snippet log
console.log('$1 ==>', $1)
endsnippet

snippet log'
console.log('- $1 -')
endsnippet

snippet log{
console.log({$1})
endsnippet

snippet import
import $1 from '$1'
endsnippet

snippet index
import $1 from './$1'

export default $1
endsnippet

snippet fcomp
import React from 'react'

const $1 = () => (
$2
)

export default $1
endsnippet
